body{
    text-align: center;
    background-color: #fdfdfd;

}
#imagem


{
    width: 45%;
  

}

h1{
  height: 50px;

    color: 
    #7600e0;
        
  

  background-color:  #faeeb8;
 

  font-size: 40px;
  

  font-style: italic;
 
}

h2{
    Color:   #D297e2;
 


}
h3{
  Color:   #f1e429;


  
} 
h4{ 

Color:   #df689f;
font-size: large;

}
h5{
  Color:   #68d1df;
  font-size: large;


}