body{
    text-align: center;
    background-color: #fdfdfd;

}
#imagem
<!---
PARA CRIAR A ID USA #NOME DE IDENTIFICAÇÃO DA IMAGEM
--->
{
    width: 50%;
  <!---
quando utilizamos 100% deixamos a imagem escolhida com 100% de largura da tela, independente do tamanho da tela
--->
}

h1{
  height: 150px;
  color: #D297e2;
        
  background-color:  #EDC100;
  font-size: 80px;

  font-style: italic;
 
}

h2{
  Color:   #D297e2;
