body{
    text-align: center;
    background-color: #fdfdfd;

}
#imagem
<!---
PARA CRIAR A ID USA #NOME DE IDENTIFICAÇÃO DA IMAGEM
--->
{
    width: 50%;
  <!---
quando utilizamos 100% deixamos a imagem escolhida com 100% de largura da tela, independente do tamanho da tela
--->
}

h1{
  height: 150px;
  <!---
define a altura do título principal
--->
    color: #D297e2;
        
  <!---
define a cor do título principal
--->
  background-color:  #EDC100;
 <!---
define a cor de fundo do título principal
--->
  font-size: 80px;
   <!---
define a altura do título principal
--->
  font-style: italic;
 
}

h2{
    Color:   #D297e2;
 <!---
define a cor do segundo título
--->
}
